$primary: #00233d;
$primary-transparent: rgba(0, 35, 61, 0.5);
$secondary: black;
$light: #00acea;
$success-color: #3fc668;
$success-light-color: #b6edc4;
$danger-color: #fe7979;
$warning-color: #ffab00;
$danger-light-color: rgb(238, 196, 196);
$disabled-color: #c5c5c5;
$drawer-label-color: #6c757d;
$grey-color: #727577;
$cancel-button-color: #df2a2a;

$background-color: #f8f8f8;
$darker-bg-color: #f9f9f9;
$primary-link-color: #008ac2;
$label-txt-color: #696969;
$content-txt-color: #212121;
