@import "./../../styles/colors.scss";

.header {
  padding: 3vh 0;
  background-color: $background-color !important;
  color: $text-secondary !important;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}
